<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <div> </***********CONTENEDOR PRINCIPAL**************/>
        
        <div class="container p-3 mb-3"> </**************TITULO************************/>
        <h1 class="fw-bold fs-1">Contacto</h1>
        </div>

        <div class="container text-center">  </*************PARRAFO******************************/>
            <p class="fs-5">Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. <br> El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".</p>
        </div>


        <div class="container">   </*******************FORMULARIO********************/>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 bg-light mt-4 border rounded">  </************CONTENEDOR GRIS***************/>
                    <div class="row">  </************FILA YOUR EMAIL***************/>
                        <div class="col-1 mt-3"></div>
                        <div class="col-2 mt-3 text-center">
                            <label for="exampleFormControlInput1" class="form-label fw-bold">Your E-mail</label>
                        </div>
                        <div class="col-9 mt-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                        </div>
                    </div>
                    </************************************************************************************************/>
                    <div class="row">  </************FILA YOUR MESSAGE***************/>
                        <div class="col-1 mt-3"></div>
                        <div class="col-2 mt-3">
                            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Your message</label>
                        </div>
                        <div class="col-9 mt-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here"></textarea>
                        </div>
                    </div>
        
                    <div class="row">  </************FILA BUTTON BLUE***************/>
                        <div class="col-10"></div>
                        <div class="col-2 mt-3 mb-4">
                            <button type="button" class="btn btn-primary float-end btn-lg">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>