<div class="card bg-dark text-white">
    <img class="card-img" src="https://viajes.nationalgeographic.com.es/medio/2017/10/09/manhatthan_6f0a2546.jpg" alt="Card image" width="auto" height="600px">
    <div class="card-img-overlay">
         <div class="text-center">

            <P>&nbsp</P>
            <P>&nbsp</P>            
            <div class="bg-secondary p-2 text-white bg-opacity-50"><FONT SIZE="30" class="card-title">ONE PAGE WONDER</FONT SIZE></div>
            <p>&nbsp</p>    
            <div class="bg-secondary p-2 text-white bg-opacity-50"><FONT SIZE="10" class="card-title">Will KnocK Your Socks Off</FONT SIZE></div>
            
         </div>
    </div>
</div>